/*
Project Name: WorkThrough
Client: WorkThrough
Author: Jerome Axle Brown
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

.alignright {
    float: right;
    padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
    float: left;
    padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    color: #000;
    font-size: 12px;
    line-height: 1.4;
    font-family: Helvetica, Arial, sans-serif;
    width: 480px;
    height: 800px;
}


/******************************************
/* LAYOUT
/*******************************************/

.homeContent{
    display: none ;
    padding-top: 80px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.happySituationContent{
    display: none;
    width: 50%;
    margin: 0 auto;
    text-align: center;

}

.sadSituationContent{
    display:none ;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.userSituation{
    display: none;
    width: 50%;
    margin: 0 auto;
    text-align: left;
}

.passToBuddyContent{
    display: none;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.passToUserContent{
    display: none;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}


.userFeelings, .selected div{
    margin-bottom: 5px;

}
.userFeelings{
    display: none;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

hr{
clear: both;
}
br{
    clear:both;
}

.selfEmpathy{
    display: none;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.happyEmpathySentence{
    display: none;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.sadEmpathySentence{
    display: none;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.userFeelingsSentence{
    text-align: left;
}


.empathySuccess{
    display: none;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

/* userInput */

.userNameInput{
    display: ;
    width: 50%;
    height: 50%;
    margin-top: 100px;
    margin-bottom: 5px;

}
.empathyBuddyInput{
    display: none;
    width: 50%;
    height: 50%;
    margin-top: 100px;
    margin-bottom: 5px;
}

.homeInput{
    display:none;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.initialHappy{
    display: inline;
    float: left;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.initialSad {
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.homeHappy{
    margin:0 0;
}

.homeSad{
    margin:0 0;
}

.feelingsInput{
    display: none;
    width: 240px;
    height: 350px;
    margin: 0 auto;
    text-align: center;
    overflow: auto;
}

.affection{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.confident{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.engaged{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.inspired{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.excited{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.exhilarated{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.gratitude{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.hope{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.joy{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.refreshed{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.agitation{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.annoyance{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.anger{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.aversion{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.confusion{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.distant{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.embarrassment{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.fatigue{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.insecurity{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.pain{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.sadness{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.regret{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.tension{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.feelingsInput, .needsInput div:hover {
    cursor: pointer;
}

.selected{
    background: green;
}

.needsInput{
    display: none;
    width: 240px;
    height: 350px;
    margin: 0 auto;
    text-align: center;
    overflow: auto;
}

.connection{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.honesty{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.independence{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.meaning{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.play{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.peace{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.wellbeing{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

/* userSubmit */

.userNameSubmitButton{
    display:;
    width: 25%;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
}

.empathyBuddySubmitButton{
    display:none;
    width: 25%;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
}

.userHappySubmit{
    display: none;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.userSadSubmit{
    display: none;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

input{
    display: block;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    text-align: center;
}

button{
    display: block;
    width: 100%;
    margin: 5px 0;
    text-align: center;
    padding: 5px;
}
.passToBuddySubmit{
    display: none;
    width: 25%;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
}

.passToUserSubmit{
    display: none;
    width: 25%;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
}

.userHappyFeelingsSubmit{
    display: none;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.userSadFeelingsSubmit{
    display: none;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.userNeedsSubmit{
    display: none;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.selfEmpathyLog{
    display: none;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/




