/*
Project Name: WorkThrough
Client: WorkThrough
Author: Jerome Axle Brown
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

.alignright {
    float: right;
    padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
    float: left;
    padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    color: #000;
    font-size: 12px;
    line-height: 1.4;
    font-family: Helvetica, Arial, sans-serif;
    width: 480px;
    height: 800px;
}


/******************************************
/* LAYOUT
/*******************************************/

.homeContent{
    padding-top: 80px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.happySituationContent{
    display: none;
    width: 50%;
    margin: 0 auto;
    text-align: center;

}

.sadSituationContent{
    display:none ;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.userSituation{
    display: none;
    width: 50%;
    margin: 0 auto;
    text-align: left;
}
.userFeelings, .selected div{
    margin-bottom: 5px;

}
.userFeelings{
    display: none;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

hr{
clear: both;
}
br{
    clear:both;
}

.selfEmpathy{
    display: none;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.happyEmpathySentence{
    display: none;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.sadEmpathySentence{
    display: none;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.userFeelingsSentence{
    text-align: left;
}


.empathySuccess{
    display: none;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

/* userInput */

.homeInput{
    display: ;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.initialHappy{
    display: inline;
    float: left;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.initialSad {
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.homeHappy{
    margin:0 0;
}

.homeSad{
    margin:0 0;
}

.situationInput{
    display: none;
    width: 50%;
    margin: 0 auto;
}

.feelingsInput{
    display: none;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.joyful{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.excited{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.hopeful{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.annoyed{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.tense{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.angry{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.feelingsInput, .needsInput div:hover {
    cursor: pointer;
}

.selected{
    background: green;
}

.needsInput{
    display: none;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    clear: both;
}

.connection{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.peace{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.trust{
    float: left;
    display: inline;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

/* userSubmit */

.userHappySubmit{
    display: none;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.userSadSubmit{
    display: none;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

input{
    display: block;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    text-align: center;
}

button{
    display: block;
    width: 100%;
    margin: 5px 0;
    text-align: center;
    padding: 5px;
}

.userHappyFeelingsSubmit{
    display: none;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.userSadFeelingsSubmit{
    display: none;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.userNeedsSubmit{
    display: none;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.selfEmpathyLog{
    display: none;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/




